<!DOCTYPE html>
<html   ng-app="">

<head>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script  src="controller/login.js"></script>
<body>

<div  class="container"  ng-controller="check"  >
 <br><br>
    <div class="panel panel-primary">
        <div class="panel-heading">
         New Users
        </div>
        <div class="panel-body">
            <form   action="/newuser"  method="post">
                <div class="form-group">
                    <label class="col-md-4">Name</label>
                    <input type="text" name="name" ng-model="name"  class="form-control"   required>

                </div>
                <div class="form-group">
                    <label class="col-md-4">Password </label>
                    <input type="password" name="pass" ng-model="user"  class="form-control"   required>

                </div>

                <div class="form-group">
                    <label class="col-md-4">Email</label>
                    <input type="email" name="email" ng-model="email"   class="form-control"   required>

                </div>
                <div class="form-group">

                    <input  type="submit"   value="save"  class="btn btn-primary"/>
                </div>

            </form>
            <a href="new.html"></a>
        </div>
    </div>
</div>


</body>
</html>
